{% extends "layout.html" %}

{% block content %}

<form method="POST" action="{{ url_for('car_bp.form') }}">
    {{ form.csrf_token }}
    <div class="form-group row">
      {{form.year.label(class="col-4 col-form-label",  for="year")}}
      <!-- <label for="year" class="col-4 col-form-label">Rocznik</label> -->
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
          {{ form.year(placeholder="rok" ,class="form-control", id="year")  }}
          <!-- <input id="year" name="year" type="text" class="form-control"> -->
        </div>
        {% for error in form.year.errors %}
          <small id="passwordHelp" class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{form.mileage.label(class="col-4 col-form-label",  for="mileage")}}
      <!-- <label for="mileage" class="col-4 col-form-label">Przebieg</label> -->
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-car"></i>
            </div>
          </div>
          {{ form.mileage(placeholder="przebieg w km" ,class="form-control", id="mileage")  }}
          <!-- <input id="mileage" name="mileage" type="text" class="form-control"> -->
        </div>
        {% for error in form.mileage.errors %}
          <small id="passwordHelp" class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{form.fuel.label(class="col-4 col-form-label",  for="fuel")}}
      <!-- <label for="fuel" class="col-4 col-form-label">Paliwo</label> -->
      <div class="col-8">
        {{  form.fuel(class="custom-select")  }}
        <!-- <select id="fuel" name="fuel" class="custom-select">
          <option value="petrol">Benzyna</option>
          <option value="diesesl">Diesel</option>
          <option value="petrol-lpg">Benzyna+LPG</option>
        </select> -->
      </div>
    </div>
    <div class="form-group row">
      {{form.doors.label(class="col-4 col-form-label",  for="fuel")}}
      <!-- <label for="fuel" class="col-4 col-form-label">Paliwo</label> -->
      <div class="col-8">
        {{  form.doors(class="custom-select")  }}
        <!-- <select id="fuel" name="fuel" class="custom-select">
          <option value="petrol">Benzyna</option>
          <option value="diesesl">Diesel</option>
          <option value="petrol-lpg">Benzyna+LPG</option>
        </select> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4">Wyposażenie</label>
      <div class="col-8">
        <div class="custom-control custom-checkbox custom-control-inline">
          <!-- {{ form.air_conditioning }} -->
          {{ form.air_conditioning(class="custom-control-input")  }}
          {{ form.air_conditioning.label(class="custom-control-label")}}
          <!-- <input name="features" id="features_0" type="checkbox" class="custom-control-input" value="air-conditioning">
          <label for="features_0" class="custom-control-label">Klimatyzacja manualna</label> -->
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          {{ form.front_electric_windows(class="custom-control-input")  }}
          {{ form.front_electric_windows.label(class="custom-control-label")}}
          <!-- <input name="features" id="features_1" type="checkbox" class="custom-control-input" value="front-electric-windows">
          <label for="features_1" class="custom-control-label">Elektryczne szyby przednie</label> -->
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          {{ form.central_lock(class="custom-control-input")  }}
          {{ form.central_lock.label(class="custom-control-label")}}
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          {{ form.alloy_wheels(class="custom-control-input")  }}
          {{ form.alloy_wheels.label(class="custom-control-label")}}
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          {{ form.rear_parking_sensors(class="custom-control-input")  }}
          {{ form.rear_parking_sensors.label(class="custom-control-label")}}
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
          {{ form.mp3(class="custom-control-input")  }}
          {{ form.mp3.label(class="custom-control-label")}}
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
          {{ form.fog_lights(class="custom-control-input")  }}
          {{ form.fog_lights.label(class="custom-control-label")}}
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
          {{ form.steering_whell_comands(class="custom-control-input")  }}
          {{ form.steering_whell_comands.label(class="custom-control-label")}}
        </div>

        <!-- <div class="custom-control custom-checkbox custom-control-inline">
          <input name="features" id="features_4" type="checkbox" class="custom-control-input" value="steering-whell-comands">
          <label for="features_4" class="custom-control-label">Wielofunkcyjna kierownica</label>
        </div> -->

      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        {{ form.submit(class="btn btn-primary")  }}
        <!-- <button name="submit" type="submit" class="btn btn-primary">Submit</button> -->
      </div>
    </div>
  </form>

  <p>UWAGA: obecnie za predykcję jest odpowiedzialny dummy model oparty o xgboost,
    nie bierze on pod uwagę wielu parametrów. COVID-19 spowodował ze bardzo spadła ilość ogloszeń, co wpływa negatywnie
    na jakość predykcji. Na razie jest to bardziej test współpracy wszystkich elementów niż działający model.</p>

  {% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
{% endfor %}

  {% endblock %}


