{% extends "layout.html" %}

{% block content %}

    <h2>Wyniki</h2>
	<p>Analiza na podstawie dany zbieranych od 17.04.2020 </p>
    <p>Model: Toyota Yaris II.</p>

    <h2>Wykresy</h2>
    <p>Roczniki wystawionych ogłoszeń:</p>
    <!-- <img class="img-fluid" src ="./static/img/sns_year.png" > -->
    <img class="img-fluid" src ="{{ url_for('static', filename='img/sns_year.png') }}" >

    <p>Zależność ceny od rocznika:</p>
    <!-- <img class="img-fluid" src ="./static/img/sns_year.png" > -->
    <!-- <img class="img-fluid" src ="{{ url_for('static', filename='img/sns_sca_year.png') }}" > -->

    {% include './plt/plt_sca_year.html' %}

    <p>Cena samochodów:</p>
    <!-- <img class="img-fluid" src ="{{ url_for('static', filename='img/sns_price.png') }}" > -->
    {% include './plt/plt_price.html' %}

    <p>Przebieg:</p>
    {% include './plt/plt_mileage.html' %}
    <!-- <img class="img-fluid" src ="{{ url_for('static', filename='img/sns_mileage.png') }}" > -->

    <p>Ile dni ogłoszenie jest aktywne:</p>
    <img class="img-fluid" src ="{{ url_for('static', filename='img/sns_duration.png') }}" >

    <p>Wyposażenie</p>
    <img class="img-fluid" src ="{{ url_for('static', filename='img/sns_features.png') }}" >
    <p>...</p>
{% endblock %}